div {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 5px 5px red;
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;

}